<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<ConnectionStrings>
	<add name="dbcs"connectionString="Data Source=DESKTOP-IS9URL8\SQLEXPRESS;Initial Catalog=E_MEDICAL;Integrated Security=True" providerName="System.Data.SqlClient"/>
</ConnectionStrings>
	
</configuration>